.myimage{
    height: 100%;
    width:100% ;
    background-color: black;
    flex:1 ;
    position: relative;

}
.ok{
    margin-top: 30%;
    margin-left: 10%;
    z-index: 1;
}

.image{
    margin-left: 35%;
    height: 100%;
   
}
p{
    color: #fff;
    padding-top: 36% ;
    padding-left: 13%;
    position: absolute;
    font-size: 4rem;
}

.span{
    color: #fff;
    padding-top: 34%;
    padding-left: 19%;
    position: absolute;
    font-size: 1.5rem;
    z-index: 1;

}


@media screen and (min-width: 601px) {
    p{
      font-size: 70px;
      
    }
    .span{
        font-size: 35px;
    }
  }
  
  @media screen and (max-width: 600px) {
    p {
      font-size: 50px;
    }
    .span{
        font-size: 25px;
    }
  }